[Desktop Entry]
Name=OSRF Searchfy 
Encoding=UTF-8
Exec=/usr/share/applications/exec-in-shell "osrf searchfy -h"
Icon=org.xfce.terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;