[Desktop Entry]
Name=Sublist3r
Encoding=UTF-8
Exec=/usr/share/applications/exec-in-shell "sublist3r.py -h"
Icon=org.xfce.terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=03-subdomain-info-gathering;