[Desktop Entry]
Type=Application
Version=1.0
Name=MediaInfo GUI
Comment=Supplies technical and tag information about a video or audio file
Comment[fr]=fournit des informations techniques et les tags à propos de vos fic>
Icon=mediainfo
Exec=mediainfo-gui %f
Terminal=false
MimeType=video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;vid>
Categories=04-metadata;
Keywords=media info;metadata;tag;video;audio;subtitles;chapters;codec;mkv;mpeg;>