[Desktop Entry]
Name=DMitry 
Encoding=UTF-8
Exec=/usr/share/applications/exec-in-shell "dmitry"
Icon=org.xfce.terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
