[Desktop Entry]
Name=EyeWitness 2.0
Encoding=UTF-8
Exec=/usr/share/applications/exec-in-shell "EyeWitness.py -h"
Icon=org.xfce.terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=06-others;