[Desktop Entry]
Name=NExfil
Encoding=UTF-8
Exec=/usr/share/applications/exec-in-shell "nexfil.py -h"
Icon=org.xfce.terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
