[Desktop Entry]
Name=Metagoofil
Encoding=UTF-8
Exec=/usr/share/applications/exec-in-shell "metagoofil.py"
Icon=org.xfce.terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=04-metadata;